/*css reset start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  min-width: 320px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*css reset end*/
header{
    font-family: 'Panton-bold', serif;
}
.navigacia{
  min-height: 142px;
  width: 100%;
}
.logo{
  padding: 30px 0px 30px 128px;
  height: 142px;
  float: left;
}
.logo a{
  float: left;
  color: #292d33;
  font-size: 16px;
}
.logo a span{
  letter-spacing: 10px;
}
.logo a img{
  width: 78px;
  height: 78px;
}
.logo a:last-child{
  padding: 7px 0px 0px 25px;
  width: 275px;
  /*    width: 45%;*/
}
.float_right{
  float:right;
  width: 67%;
}
.colap{
  padding: 0px;
  margin: 0px;
}
.form_block{
  width: 73%;
  height: 100%;
  padding: 0px 30px 0px 0px;
  float: left;
}
.lang,
.form-group{
  display: inline-block;
}
.lang{
  margin-top:58px;
  float: left; /*1*/
}
.lang a{
  display:block;
  font-size: 11px;
  color: #292d33;
  text-decoration: none;
}
.lang a.active{
  color:#e4002b;
}
.lang a:hover{
  text-decoration: underline;
}
.form-group{
  border-bottom:1px solid #d4d5d6;
  margin:0px;
  padding:10px 0px;
  width: 95%;
  position: relative;
}
.search_wrap {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search_wrap input#search{
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10pt;
  float: right;
  color: #333;
  padding: 0px 45px 0px 20px;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
      -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
          transition: width .55s ease;
  }

.search_wrap .icon{
  position: absolute;
  top: 11px;
  right: 0px;
  z-index: 1;
  color: #a2a4a6;
  font-size: 22px;
  border:none;
  background: none;
  outline: none;
  padding: 0px;
}

.search_wrap input#search:focus, 
.search_wrap input#search:active{
  outline:none;
  width: 300px;
  border: 1px solid #d4d5d6;
  margin-right: -10px;
}
 
.search_wrap input#search{
  
}
.search_wrap:hover .icon{
  color: #93a2ad;
}
.nav{
  margin:0px;
}
.navbar-nav li a{
  line-height: 40px;
  color: #292d33;
  font-size: 16px;
}
.navbar-nav li:last-child a{
  padding-right: 0px;
}
.navbar-nav li a:focus,
.navbar-nav li a:hover{
   background-color: #fff;
  color:#292d33;
  text-decoration: underline;
}
li.drop_down{
  position: inherit;
}
.secind_menu{
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}
.drop_down .secind_menu li:last-child a{
  padding-right: 10px;
}
.navbar-nav li:hover .secind_menu{
  display: block;
}
.secind_menu li a{
  line-height: 47px;
  padding: 0px 10px;
  color: #292d33;
  font-size: 16px;
  display: block;
  text-align: center;
}
.secind_menu li a:focus,
.secind_menu li a:hover{
  background-color: #fff;
  color:#292d33;
  text-decoration: underline;
}
.red_block{
  height: 142px;
  width: 27%;
  background-color: #e4002b;
  padding-left: 25px;
  line-height: 132px;
  float: right;
}
.sign_in{
  background: url('../img/icons/sign-in.png') no-repeat;
  height: 20px;
  width: 17px;
  display: block;
}
.red_block .btn{
  padding:12px;
  height: 50px;
  width: 50px;
  border:2px solid #fff;
  border-radius: 0px;
  background-color:#fff;
  -webkit-transition:background-color ease-out 0.3s;
    -moz-transition:background-color ease-out 0.3s;
      -o-transition:background-color ease-out 0.3s;
        transition:background-color ease-out 0.3s;
}
.red_block .btn:hover{
  background-color: antiquewhite;
}
.red_block .btn:last-child{
  height: 48px;
  width: 160px;
  border:2px solid #fff;
  border-radius: 0px;
  background-color: transparent;
  margin-left: 18px;
  color: #fff;
  font-size: 18px;
  -webkit-transition:background-color ease-out 0.3s;
    -moz-transition:background-color ease-out 0.3s;
      -o-transition:background-color ease-out 0.3s;
        transition:background-color ease-out 0.3s;
}
.red_block .btn:last-child:hover{
  background-color: #fff;
  color:#E4002B;
}
.navbar-toggle{
  background-color: red;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.nav_button{
  display: none;
}

/*mYslider*/
.right_bg{
  background-color:#E4002B; 
  height: 416px;
  width: 48px;
  position: absolute;
  top:142px;
  right: 0px;
  z-index:-2;
}
.slider_wrapper{
  width: 95%;
  margin: 0px auto 0px;
}
.slider_wrapper .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.mySlider .slider_block{
  position: relative;
  max-width: 1826px;
  max-height: 698px;
}
.over_block{
  position: absolute;
  top: 2%;
  left: 1.1%;
  width: 97.8%;
  height: 95.8%;
  -webkit-background: rgba(49, 45,43,.65);
    -moz-background: rgba(49, 45,43,.65);
      -ms-background: rgba(49, 45,43,.65);
        -o-background: rgba(49, 45,43,.65);
          background: rgba(49, 45,43,.65);
  z-index: 1;
}
.text{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  color: #fff;
}
.text_vertical{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.text_vertical > h1{
  font:39.28px 'Panton-bold', serif;
}
.text_vertical > h1 > span{
  font-size: 53.5px;
  margin-top: 6px;
  display: block;
}
.decor_sircle{
  background-color: #fff;
  border-radius: 9px;
  display: inline-block;
  margin:49px 0px 20px 0px;
  height: 9px;
  width: 9px;
}
.text_vertical h2,
.text_vertical h3{
  font-family: 'dejavu-sans', serif;
  font-size: 22.11px;
  color:#fffdfd;
}
.text_vertical h3{
  color:#e4002b;
  margin-top: 14px;
}
/*slick style 1*/
.mySlider{
   position: relative;
}
.mySlider .slick-dots{
  position: absolute;
  top:50%;
  right:19%;
  width: 20px; 
}
.mySlider .slick-dots li{
  display: block;
  width: auto;
  height: auto;
}
.mySlider .slick-dots li button{
  height: 8px;
  width: 8px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
.mySlider .slick-dots li.slick-active button:before{
  opacity:1;
  background-color: #e4002b;
  width: 100%;
  height: 100%;
}
.mySlider .slick-dots li button:before{
  content:'';
  width: 100%;
  height: 100%;
}
/*slick style 1 end*/

.projects_block{
  width: 100%;
  padding:0px 0px 102px 0px;
}
.projects {
  width: 95%;
  height: 52px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0px auto;
}
.projects h1 {
  background: #fff;
  width: 222px;
  display: inline-block;
  margin-top: 31px;
  font: 34px 'Panton-Regular', serif;
  color:#292d33;
}
.nav_projects{
  margin: 40px 0px 37px 0px;
}
.nav_projects p{
  display: inline-block;
  color:#6d737c;
  font:16px 'dejavu-sans', serif;
  cursor: pointer;
}
.nav_projects p+p{
  margin-left: 33px;
}
.nav_projects p.active{
  color:#4a4f57;
}
.nav_projects p:hover{
  color:#4a4f57
}

/*slider_wrapper2*/
.projects_block.index .slider_wrapper2.active{
  display: block;
}
.projects_block.index .slider_wrapper2{
  display: none;
}
.slider_wrapper2{
  max-width: 1140px;
  max-height: 300px;
  margin:0 auto;
  position: relative;
}
.sl_arrow_down{
  position: absolute;
  top:-1px;
  left:50%;
  width: 0; 
  height: 0; 
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 24px solid #fff; 
  display: block;
  margin-left: -24px;
  z-index: 100;
}
.slider_wrapper2 .slider_block2{
  position: relative;
  max-height: 300px;
  width: 375px;
  margin-right: 10px;
}
.slider_wrapper2 .slider_block2 :last-child {
  margin-right: 0px;
}
.slider_wrapper2 .slider_block2 img{
  height: auto;
  width: 100%;
}
.romanBl{
  position: absolute;
  top: 26px;
  left: 30px;
  width: 70px;
  height: 25px;
  background-color: #e4002b;
  text-align: center;
  padding: 3px 0px;
  color:#FFFFFF;
  font:14px/24px 'dejavu-sans', serif;
}
.text2{
  position: absolute;
  bottom: 0px;
  left: 0px;  
  width: 100%;
  height: 70px;
  text-align: center;
  background: rgba(0,0,0,.4)
}
.text2 p {
  color: #fff;
  width: 90%;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  display: inline-block;
  color:#FFFFFF;
  font:18px 'Panton-bold', serif;
}

.slider_wrapper2 .slick-dots{
  position: absolute;
  bottom:-55px;
  left:50%;
  margin-left: -57.5px;
  width: 115px; 
}
.slider_wrapper2 .slick-dots li{
  height: 15px;
  width: 15px;
  margin-right: 15px;
  display: inline-block;
}
.slider_wrapper2 .slick-dots li button{
  height: 15px;
  width: 15px;
  border-radius: 15px;
  padding: 4px;
  border:1px solid #a3a6a9;
}
.slider_wrapper2 .slick-dots li.slick-active button:before{
  opacity:1;
  background-color: #e4002b;
  width: 15px;
  height: 15px;
  border-radius: 15px;

}
.slider_wrapper2 .slick-dots li button:before{
  content:'';
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/*section club*/
.club_bg{
  width: 100%;
  height: 373px;
  color: #fff;
  -webkit-background-color: rgba(50,56,64,.9);
    -moz-background-color: rgba(50,56,64,.9);
      -ms-background-color: rgba(50,56,64,.9);
        -o-background-color: rgba(50,56,64,.9);
          background-color: rgba(50,56,64,.9);
}
.club_bg h1{
  margin:26px 0px 0px 0px;
  color:#FFFFFF;
  font:34px 'Panton-Regular', serif;
}
.quote{
  border:5px solid #cdcfd3;
  height: 327px;
  margin-top: 19px;
  display: table;
  position: relative;
}
.quote p{
  color:#c7c9cd;
  font:14px 'sans-oblique', serif;
  width: 90%;
  margin:18px auto 0px auto;
  padding:35px 35px 0px 30px;
  height: 153px;
  overflow: hidden;
  position: relative;
}
.btn_send{
  background-color: #e4002b;
  border-radius: 0;
  color:#FFFFFF;
  font:18px 'Panton-bold', serif;
  padding: 14px 32px;
  bottom: 68px;
  margin: 38px auto 0px;
}
.quote .quoteImg{
  background: url('../img/icons/inQuotes.png') no-repeat;
  width: 23px;
  height: 19px;
  position: absolute;
  top:0px;
  left: 0px;
}
.quote .quoteImg2{
  background: url('../img/icons/inQuotes.png') no-repeat;
  width: 23px;
  height: 19px;
  position: absolute;
  bottom:0px;
  right:0px;
}
.asideBl{
  position: relative;
  font:14px 'dejavu-sans', serif;
  height: 200px;
  position: fixed;
  right: 64px;
  top: 60%;
  z-index: 1001;
}
.asideNav{
  display: none;
}
.asideBl ul{
  position: fixed;
  right: 125px;
  top: 60%;
  background-color: #3a3d43;
  border-radius: 10px;
  padding: 20px 16px;
  height: 200px;
}
.asideBl ul li a{
  color:#fff;
  display: block;
  width: 100%;
  padding: 17px 18px;
  border-radius: 10px;
  -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.asideBl ul li:hover a{
  background-color: #2a2e33;
  text-decoration: none;
}
.fixedButton{
    border: none;
    border-radius: 10px;
    background-color: #e4002b;
    color: #fff;
    padding: 15px 25px;
    position: fixed;
    right: 0px;
    top: 73.1%;
    transition: background-color .5s ease;
    -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
           transform: rotate(90deg);
    width: 200px;
}
.asideBl:hover .fixedButton,
.asideBl:hover .asideNav{
  background-color: #2a2e33;
  display: block;
}
.news h1{
  text-align: center;
  margin: 112px 0px 0px 0px;
  color:#292d33;
  font:34px 'Panton-Regular', serif;
}
.news_block{
  background-color: #f0f0f1;
  height: 300px;
  margin: 44px auto 0px auto;
  max-width: 360px;
  padding: 39px 26px 30px  32px;
}
.news_block h2{
  color:#292d33;
  font:18px 'Panton-Regular', serif;
}
.news_block .par{
  max-width: 300px;
  height: 153px;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  color:#292d33;
  font:14px 'dejavu-sans', serif;
}
.newsDate{
  float:left;
}
.newsDate li{
  display: inline-block;
}
.newsDate li:first-child{
  color:#e4002b;
  font:34px 'Panton-bold', serif;
}
.newsDate li + li{
  line-height: 14px;
}
.newsDate li{
  color:#292d33;
  font:14px 'Panton-Regular', serif;
}
.newsDate li span{
  display: block;
}
.news_block a{
  
}
.news .arrRight{
  margin-top: 10px;
  float: right;
}
.arrRight{
  background: url('../img/icons/formRtArr.png') no-repeat;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  display: inline-block;
  -webkit-transition: background-color .55s ease;
    -moz-transition: background-color .55s ease;
      -ms-transition: background-color .55s ease;
        -o-transition: background-color .55s ease;
          transition: background-color .55s ease;
}
.arrRight:hover{
  background-color:#3373B4;
}
/*section vote*/
.hr{
  width: 95px;
  border-bottom:1px solid #a4a7ab;
  margin: 35px auto 40px auto;
}
/*.sircle{
  width:142px;
  height:142px;
  border-radius:142px;
  border: 10px solid #e8eaed;
  border-top-color: #42c5d8;; 
  position:relative;
  /*animation:spin 0.5s linear infinite;*/
/*  display: table;
  margin:auto;
}*/

/*@keyframes spin{
  to{
     transform:rotate(360deg);
  }
}*/
.vote h1{
  text-align: center;
  margin-top: 85px;
  color:#292d33;
  font:34px 'Panton-Regular', serif;
}
.vote form h2{
  margin-bottom: 50px;
  color:#4a4f57;
  font:21.59px 'dejavu-sans', serif;
}
.sircleIn{
/*  display: table-cell;
  vertical-align: middle;*/
     /* margin: auto;
    display: inline-block;*/
}
/*progress sircle*/
.prog-circle .fill, .prog-circle .bar{
  width: 142px !important;
  height: 142px !important;
}
.prog-circle .percenttext{
  font:30px 'Panton-bold', serif;
  top: -20px;
  color: #e4002b;
}
.circleVote {
    font: 10.41px 'dejavu-sans', serif;
    position: absolute;
    width: 100%;
    height: 1em;
    z-index: 1;
    margin: auto;
    left: 0px;
    bottom: 94px;
    color: #4a4f57;
    display: block;
    text-align: center;
    white-space: nowrap;
    line-height: 100%;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.prog-circle {
    margin: auto !important;
    float: none;
    cursor: pointer;
}
/*progress sircle*/


.radio{
  text-align: center;
  margin:18px 0px 20px 0px;
  color:#4a4f57;
  font:16px 'dejavu-sans', serif;
}
.vote form .btn-danger{
  background-color: #e4002b;
  border-radius: 0;
  margin:48px 0px 97px 0px; 
  color:#FFFFFF;
  font:18px 'Panton-bold', serif;
  padding: 15px 22px;
}

/*footer*/
.footer{
  color:#fff;
}
.footer_top_bg{
  background-color: #3a3d43;
  width:100%;
  height: 195px;
  padding: 31px 0px 30px 0px;
}
.footer_form h1{
  color:#FFFFFF;
  font:28px 'Panton-Regular', serif;
}
.footer_form h2{
  padding: 0px 0px 24px 0px;  
  color:#FFFFFF;
  font:14px 'dejavu-sans', serif;
}
.footer_bottom_bg{
  background-color: #292d33;
  width:100%;
  height: 81px;
  line-height: 80px;
}
.form{
  position: relative;
  
}
.form input[type='email']{
  height: 52px;
  color:#4a4f57;
  font:16px 'dejavu-sans', serif;
}
.form input[type='submit']{
  position: absolute;
  top: 0;
  right: 0;
  margin:4px;
  border: none;
  color:#333;
  padding: 13px 25px;
  color:#3a3d43;
  font:15px 'Panton-bold', serif;
}
.footer_soc > small{
  color:#FFFFFF;
  font:12px 'dejavu-sans', serif;
}
.social_net a{
  border-radius:30px;
  height:30px;
  width:30px;
  padding:6px 8px; 
  color:#333;
  background: #949699;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.social_net a+a{
  margin-left: 6px;
}
.social_net a:hover{
  color:#fff;
}


/* aboutUs.html ჩვენს შესახებ > სააგენტოს შესახებ */
.text_vertical.h1 > h1{
  color:#fff;
  font:29.79px 'Panton-bold', serif;
}
.sl_nav{
  margin-top: -11px;
}
.sl_nav a{
  color: #bfbfbf;
  font:14px 'dejavu-sans', serif;
}
.g_content{
  color:#292d33;
  font:15px 'dejavu-sans', serif;
}
.nav_arr_right{
  background-image: url(../img/icons/nav_arr_right.png);
  display: inline-block;
  margin: 0px 5px;
  height: 8px;
  width: 5px;
}
.nav_repeat{
  padding: 12px;
  background-color: #f0f0f1;
  float: right;
  width: 100%;
  margin-bottom: 40px;
}
.nav_repeat li a{
  color:#41454b;
  font:16px 'Panton-Regular', serif;
  padding: 17px 20px;
  display: block;
}
.nav_repeat li.active a{
  background-color: #292d33;
  color:#fff;
}
.nav_repeat li a:hover:not(.active){
  color:#fff;
  background-color: #292d33;
  text-decoration: none;
}


/* gallery.html გალერეა > ფოტო გალერეა */
.g_img_bl{
  position: relative;
  max-width: 360px;
  max-height: 300px;
}

.gallery.photo .g_img_bl a:not(:first-child) {
  display: none;
}

.gallery{
  padding-top: 56px;
  padding-bottom: 120px;
}
.gallery_block{
  max-width: 360px;
  font:18px 'Panton-bold', serif;
  margin: 0px auto 47px;
}
.gallery_block h4{
  color: #292d33;
  width: 92%;
  height: 18px;
  overflow: hidden;
  padding: 23px 0px 46px;
}

/* pagination */

.pagin_wrap {
  position: relative;
}
.pagin_wrap .pagination li a,
.pagin_wrap .pagination li span {
  color: #5d636b;
  font:18px 'Panton-bold', serif;
}
.pagin_wrap .pagination>.active>a, 
.pagin_wrap .pagination>.active>a:focus, 
.pagin_wrap .pagination>.active>a:hover, 
.pagin_wrap .pagination>.active>span, 
.pagin_wrap .pagination>.active>span:focus, 
.pagin_wrap .pagination>.active>span:hover{
  background-color: #fff;
  color:#292d33;
}
.pagin_wrap .pagination a:hover:not(.active) {
  color: #5d636b;
}
.pagin_wrap .pagination>li>a, 
.pagin_wrap .pagination>li>span{
  border:none;
}


/* projects.html გალერეა > ფოტო გალერეა */

.g_img_bl h4{
  position: absolute;
  bottom: 30px;
  left: 8%;
  text-align: left;
  font: 18px 'Panton-bold', serif;
  color: #ffffff;
  max-width: 360px;
}
.gallery .decor_sircle{
  position: absolute;
  bottom: 75px;
  left: 30px;
  background-color: #e4002b;
  line-height: 8px;
}
.gallery .decor_sircle span{
  font:12px 'dejavu-sans', serif;
  color:#fff;
  line-height: 12px;
  padding-left: 16px;
}


/* video_gallery.html გალერეა > ფოტო გალერეა */

.g_img_bl a > .video_play{
  border-style: solid;
  border-width: 22.5px 0 22.5px 39px;
  border-color: transparent transparent transparent #d1cfc6;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -22.5px;
}
.g_img_bl a > .video_play:hover{
  border-color: transparent transparent transparent #E4002B;
}

/* projects_inner.html გალერეა > ფოტო გალერეა */
.gallery_img_bl{
  max-height: 460px;
  max-width: 555px;
  position: relative;
}
.full_screen_icon{
  background-image: url(../img/icons/video_fullScreen.png);
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}
.proj_bl{
  position: relative;
  margin-bottom: 50px;
}
.proj_bl .romanBl{
  position: inherit;
  display: block;
}
.proj_bl .diamond{
   width: 10px; 
   height: 10px; 
   background: #e4002b;
   margin: 3px 0 0 30px;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
   display: inline-block;
   margin-bottom: -4px;
   margin-left: 8px;
}
.proj_bl h1{
  padding: 23px 0px 7px 0px;
  font: 24px 'Panton-bold', serif;
}
.proj_bl .daim_txt_wrap span{
  color: #52555a;
  font: 12px 'dejavu-sans';
  padding-left: 5px;
}
.proj_bl_In .calendar_icon{
  background-image: url(../img/icons/calendar_icon.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.proj_bl_In p > span{
  font-family:'dejavu-sans', serif;
}
.proj_bl_In .par1{
  font-size: 18px;
  padding: 43px 0px 10px 0px;
}
.proj_bl_In .par1 span:first-child{
  color: #acadaf;
}
.proj_bl_In .par1 a{
  color: #52555a;
  font-weight: 600;
}
.proj_bl_In .par2 span{
  font-size: 14px;
}
.proj_bl_In .id_arrow{
  background-image: url(../img/icons/id_arrow.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 14px;
  height: 12px;
  display: inline-block;
}
.proj_bl_cost{
  border: 1px solid #d2d3d4;
  max-width: 555px;
  height: 55px;
  line-height: 50px;
  margin-top: 60px;
}
.proj_bl_cost span:first-child {
  color: #52555a;
  font:14px 'DejaVu_Sans_Bold', serif;
  padding-left: 18px;
}
.proj_bl_cost span:last-child {
  color: #e4002b;
  float: right;
  font: 20px 'Panton-bold', serif;
  padding: 16px 18px 0px 0px;
}
.proj_desc{
  padding-top: 60px;
}
.proj_desc h1,
.proj_desc p{
  color:#393939;
  font-family: 'dejavu-sans', serif;
  font-size: 14px;
  line-height: 23px;
}
.proj_desc h1 > b,
.proj_desc p > b{
  font-family: 'DejaVu_Sans_Bold', serif;
}

/*slider block repeat*/
.slider_block{
  position: relative;
  max-width: 1826px;
  max-height: 210px;
}
.sl_image{
  background-image: url(../img/gallery/slBigCharch.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 0px -168px;
  height: 210px;
  width: 100%;
  display: block;
}
.right_bg.height{
  height: 102px;
}
.over_block.height{
  height: 83%;
  top: 9%;
}

/* start --- club.html | კლუბი */
/* club_nav */
.ordering{
  float: right;
}
.club_nav .float_right.colap{
  width: 76%;
}
.club_header .navbar-header{
  width: 24%;
}
.club_menu .secind_menu li{
  display: block;
  padding: 0px;
}
.club_menu .secind_menu li a{
  line-height: 40px;
  /*color: #292d33;*/
  font-size: 16px;
  display: block;
  padding:5px;
  text-align: center;
  width: 100%;
}
.club_menu .secind_menu li a:focus,
.club_menu .secind_menu li a:hover{
  background-color: #fff;
  color:#292d33;
  text-decoration: underline;
}
.club_menu li:hover .secind_menu{
  display: block;
}
.club_menu .cab_button {
  line-height: 10px !important;
  float: none !important;
  display: block;
  margin: 20px auto;
  padding: 20px 22px; 
  max-width: 155px; 
}

.club_nav{
  height: 125px;
  font-family:'Panton-bold', serif;
}
.club_logo li{
  float: left;
}
.club_logo li a{
  display: block;
  text-decoration: none;
}
.club_logo li a img{
  margin-top: 20px;
}
.club_logo li a h1{
  color: #305982;
  font-size: 29px;
  line-height: 125px;
  margin:0px 58px 0px 22px;
}
.club_menu{
  float: right;
}
.club_menu li{
  display: inline-block;
}
.club_menu li a{
  color: #292d33;
  display: block;
  font-size: 15px;
  line-height: 125px;
}
.club_menu li+li{
  padding-left: 29px;
}
.cab_button{ 
  background-color: #fff; 
  border:none;
  box-shadow: 0px 0px 1px #3373b4;
  padding: 18px 20px;
  float: right;
  margin: 30px 0px 0px 38px;
  -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
      -ms-transition: color .3s ease;
        -o-transition: color .3s ease;
          transition: color .3s ease;
}
.cab_button span:nth-child(2){
  color:#3373B4;
}
.cab_button span:hover:nth-child(2){
  color:#333;
  text-decoration: underline;
}
.club_user_icon{
  background-image: url(../img/icons/club_user_icon.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 12px;
}
.club_nav .lang{
  margin-top: 47px;
  line-height: 16px;
}
.club_nav .lang li a.active{
  color: #3373b4;
}


/*section - club_big_img_sec*/
.slider_block.cl{
  max-width: 100%;
  max-height: 758px;
}
.slider_block.cl .over_block {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 90%;
    -webkit-background: rgba(44,39,37,0.65);
      -moz-background: rgba(44,39,37,0.65);
        -ms-background: rgba(44,39,37,0.65);
          -o-background: rgba(44,39,37,0.65);
            background: rgba(44,39,37,0.65);
    z-index: 1;
}
.club_img_wrap{
  text-align: center;
  position: relative;
  max-width: 100%;
  max-height: 210px;
}
.club_img{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  max-width: 100%;
  width:100%;
  height:210px;
  display:block;
}

.club_big_img_sec .text_vertical h1{
  color:#ffffff;
  font-family: 'Panton-bold', serif;
  font-size: 55.14px; 
}
.club_big_img_sec .text_vertical h2{
  color:#ffffff;
  font-family: 'Panton-Regular', serif;
  font-size: 42.24px;
}
.Choose_package{
  color:#ffffff;
  font-family: 'Panton-bold', serif;
  font-size: 18px;
  background-color: #3373b4;
  border:none;
  color:#fff;
  padding: 21px 24px;
  margin: 40px 0px 16px 0px;
  position: relative;
}
.btn_arrow_down{
  background-image: url(../img/icons/btn_arrow_down.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 9px;
  width: 15px;
  margin-left: 21px;
}
.btn_under{
  color:#ffffff;
  font-family: 'Panton-bold', serif;
  font-size: 18px;
  background-color: #3373b4;
  border:none;
  color:#fff;

 /* width: 230px;
  height: 100px;*/
  background-color: #3373B4;
  margin: auto;
  padding: 14px 10px;
  position: absolute;
  left: 0px;
  top: 60px;
  display: none;
  width: 100%;
  /*border: 1px solid #3373b4*/;
}
.btn_under a{
  display: block;
  color: #fff;
  font-family: 'Panton-bold', serif;
  font-size: 18px;
  margin: 10px 0px;
}
.text_vertical h3{
  color:#ffffff;
  font:16px 'BPG-Arial', serif;
}

/*CLUB news*/
.club_news{
  padding: 85px 0px 75px 0px;
}
.cl_news_h1 h1{
  color:#292d33;
  font:36.58px 'Panton-Regular', serif;
  text-align: center;
  padding-bottom: 50px;
}
.news_block.cl{
  float: left;
  max-width: 40%;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.news_block.cl h1{
  color:#292d33;
  font:24px 'Panton-bold', serif;
}
.news_block.cl .newsDate{
  float: none;
  margin-top: 10px;
}
.news_block.cl li:first-child {
  color: #3373b4;
}
.news_block.cl .par{
  color:#5a5a5b;
  font:16px 'BPG-Arial', serif;
  height: 140px;
  max-width: 100%;
}
.news_block.cl a{
  color:#292d33;
  font:15px 'Panton-bold', serif;
  float: left;
  margin: 10px 0px;
}
.news_block.cl .arrRight{
  margin-left: 12px;
  margin-bottom: -5px;
}
.club_news .slider_block2 img{
  max-width: 570px;
  width: 60%;
  float: right;
}
.mySlider3 .slick-dots{
  bottom: 0px;
  left: 47px;
}
.mySlider3 .slick-dots li.slick-active button:before{
  background-color: #3373b4;
}

/*section - club_project*/
.club_project{
  background-color:#f3f3f4;
  padding: 50px 0px 75px 0px;
}
.club_h1{
  color:#292d33;
  font:34px 'Panton-Regular', serif
}
.club_project h2{
  color:#4a4f57;
  font:16px 'dejavu-sans', serif;
  padding-bottom: 20px;
}
.club_project_block{
  text-align: center;
  position: relative;
  max-width: 265px;
}
.club_project_block .round_img{
  background-repeat: no-repeat;
  background-position: center center;
    /* make it responsive */
  max-width: 100%;
  width:100%;
  height:auto;
  display:block;
  /* div height to be the same as width*/
  padding-top:100%;
  
  /* make it a cirkle */
  border-radius:50%;
}
.club_project_block h3{
  color:#4a4f57;
  font:18px 'Panton-bold', serif;
}
.club_project_block h4{
  color:#9c9d9f;
  font:14px 'dejavu-sans', serif;
}
.club_project_block img{
  margin:25px auto;
}

.club_project_block .sircleIn{
    display: block;
    position: absolute;
    top: 20%;
    left: 22%;
}

.my_container{
  position: absolute;
  top: 22%;
  text-align: center;
  width: 100%;
  display: none;
}
.my_container > .autorize_sircle{
  display: inline-block;
}

.autorize_sircle{
  width:130px;
  height:130px;
  border-radius:130px;
  border: 10px solid rgba(167, 169, 175, 0.7);
  position:relative;
}
p.autorize_sircle_in{
  display: table;
  width: 100%;
  height: 100%;
}
p.autorize_sircle_in span{
  background-image: url(../img/icons/authorization_icon.png);
  background-position: 34px 39px;
  background-repeat: no-repeat;
  width: 40px;
  height: 28px;
  display: table-cell;
}

.club_project_block .prog-circle .percenttext{
  font:30px 'Panton-bold', serif;
}
.club_project_block .circleVote{
  font:10.41px 'dejavu-sans', serif;
  position: absolute;
  bottom: 35%;
}
.club_project_block .prog-circle .fill, 
.club_project_block .prog-circle .bar{
  border: 10px solid #3373b4; 
}
.auto_height{
  max-width: 140px;
  height: 140px;
  position: relative;
  border: 1px solid #000;
}

/* section - partner */

.partners{
  padding: 80px 0px 65px 0px;
}
h1.club_h1{
  margin-bottom: 70px
}
.partn_img_wrap{
  display: inline-block;
  width: 230px;
  white-space: nowrap;   
  text-align: center;
  width: 100%;
}
.helper {
  display: inline-block;
  height: 30%;
  vertical-align: middle;
}
.partn_img_wrap img{
  vertical-align: middle;
  margin: auto;
}

.slider_wrapper4{
  max-width: 66%;
  margin: auto;
}

.partners .slick-prev{
  left: -54px;
}
.partners .slick-next{
  right: -40px;
}
.partners .slick-prev:before {
    content: '\f0a8';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #000
}
.partners .slick-next:before {
    content: '\f0a9';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #000
}



/*start --- club_partners.html | კლუბი*/
.forTxt .slider_block.cl .over_block{
  top:18%;
  height: 64%;
}
.forTxt .text_vertical h1{
  display: block;
  font-size: 29.79px;
  margin-bottom: 18px;
}
.forTxt .text_vertical nav a{
  font-size: 14px;
}

/*club_partn_conten*/
.club_partn_content{
  padding:55px 0px 160px 0px; 
}
.partners_bl{
  border:1px solid #7f7f7f;
  padding:20px 33px 33px;
  position: relative;
  margin-bottom: 40px;
}
.partners_bl h1{
  color:#4a4f57;
  font:18px 'Panton-bold', serif;
  display: inline-block;
  position: absolute;
  top: 48px;
  left: 168px;
}
.partners_bl p{
  color:#5a5a5b;
  font:16px 'BPG-Arial', serif;
}


/*  register1step.html  */
/* section - s_register */
.s_register{
  padding: 30px 0px 280px;
}
.form_reg_header{
  color:#4a4f57;
  font:24px 'Panton-bold', serif;
  text-align: center;
  margin:25px 0px 55px 0px;
}
.choose_package_bl{
  max-width: 555px;
  height: 400px;
  border: 1px solid #a5a5a5;
  margin: 0px auto 30px;
}
.choose_package_bl.error{
  border: 1px solid #E4002B;
}
.choose_package_bl.active{
  border: 1px solid #3373b4;
}
.choose_package_bl.error .choose_package_bl_top{
  background-color: #E4002B;
}
.choose_package_bl.active .choose_package_bl_top{
  background-color: #3373b4;
} 
.choose_package_bl .choose_package_bl_top{
  height: 10px;
  margin-bottom: 47px;
  background-color: #a5a5a5
}
.choose_package_bl_cont,
.choose_package_bl_cont2{
  margin: 0px 35px 20px 48px;
}
.choose_package_bl_cont{
  font-family:'Panton-bold', serif;
  border-bottom:1px solid #bfbfbf;
  height: 52px;
}
.choose_package_bl_cont p{
  color: #3373b4;
  font-size: 34px;
  margin-top: -3px; 
}
.choose_package_bl_cont p > span{
  font-family:'Panton-Regular', serif;
  color: #292d33;
  font-size: 28px; 
  padding-left: 7px;
}

/*register radio*/
.s_register .radio {
    padding-left: 20px; 
    margin: 0px;
    text-align:left;
}
.s_register .radio label {
    font-family:'Panton-bold', serif;
    font-size: 24px;
    color:#4a4f57;
    display: inline-block;
    position: relative;
    padding-left: 19px; 
    line-height: 21px;
    float: left;
}
.s_register .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.s_register .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.s_register .radio input[type="radio"] {
    opacity: 0; }
.s_register .radio input[type="radio"]:focus + label::before {
    outline: none}
.s_register .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.s_register .radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.s_register .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.s_register .radio.radio-inline {
    margin-top: 0; }

.s_register .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.s_register .radio-success input[type="radio"]:checked + label::before {
    -webkit-box-shadow: #3373b4 0px 0px 1px;
      -moz- box-shadow: #3373b4 0px 0px 1px;
        -ms-box-shadow: #3373b4 0px 0px 1px;
          -o-box-shadow: #3373b4 0px 0px 1px;
            box-shadow: #3373b4 0px 0px 1px
}
.s_register .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }
/*register radio end*/

.choose_package_bl_cont2{
  font-family: 'BPG-Arial';
  padding-bottom: 12px;
}
.choose_package_bl_cont2 p.par{
  color: #5a5a5b;
  font-size: 14px;
  line-height: 20px;
  max-width: 470px;
  height: 90px;
  overflow: hidden;
}
.choose_package_bl_cont2 nav{
  margin-top: 7px;
}
.choose_package_bl_cont2 nav li{
  color: #5a5a5b;
  font-size: 16px;
  list-style-image: url(../img/icons/nav_li_icon.png);
  line-height: 47px;
}
.choose_package_bl.two{
  border: 1px solid #a5a5a5;
}
.choose_package_bl.two .choose_package_bl_top{
  background-color: #a5a5a5;
  height: 10px;
  margin-bottom: 47px;
}

/* .choose_proj_bl_cont */
.choose_proj_bl{
  border: 1px solid #3373b4;
  cursor: pointer;
  padding: 25px 0px 16%; 
  margin-bottom: 18px;
  width: 100%;
}
.reg_proj_bl{
  text-align: center;
  position: relative;
  max-width: 160px;
  max-height: 160px;
  margin-left: 45px;
}
.reg_proj_bl .round_img{
  background-repeat: no-repeat;
  background-position: center center;
  /* make it responsive */
  max-width: 100%;
  width:100%;
  height:auto;
  display:block;
  /* div height to be the same as width*/
  padding-top:100%;  
  /* make it a cirkle */
  border-radius:50%;
}
.choose_proj_bl_cont{
  margin-top: -2px;
  float: left;
  width: 58%;
}
.s_register .choose_proj_bl_cont .radio label{
  margin-top: 62px;
}
.reg_proj_head{
  margin-top: 45px;
  line-height: 25px;
  float: right;
}
.terms_And_Conditions h2,
.terms_And_Conditions label,
.reg_proj_head h1{
  color: #4a4f57;
  font-family: 'Panton-bold';
  font-size: 18px !important;
}
.reg_proj_head h2{
  color: #9c9d9f;
  font-family: 'dejavu-sans';
  font-size: 14px;
}
.reg_proj_desc{
   line-height: 20px;
   margin-top: 45px;
   width: 100%;
   height: 103px;
   overflow: hidden;
}
.reg_proj_desc p.par{
    color: #5a5a5b;
    font-family: 'BPG-Arial';
    font-size: 14px;
}

/*personal info*/
.personal_info{
  padding: 98px 25.8%;
  margin-bottom: 58px;
  -webkit-box-shadow: 0px 0px 1px #7f7f7f;
    -moz-box-shadow: 0px 0px 1px #7f7f7f;
      -ms-box-shadow: 0px 0px 1px #7f7f7f;
        -o-box-shadow: 0px 0px 1px #7f7f7f;
          box-shadow: 0px 0px 1px #7f7f7f;
}
.personal_info label{
  color:#4a4f57;
  font-family: 'dejavu-sans';
  font-size: 16px;
}
.personal_info input,
.personal_info select{
  background-color: #eee;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  margin:10px 0px 33px;
  height: 50px;
}

/* terms_And_Conditions */
.terms_And_Conditions{
  margin-bottom: 58px;
  padding: 64px 0px;
  -webkit-box-shadow: 0px 0px 1px #7f7f7f;
    -moz-box-shadow: 0px 0px 1px #7f7f7f;
      -ms-box-shadow: 0px 0px 1px #7f7f7f;
        -o-box-shadow: 0px 0px 1px #7f7f7f;
          box-shadow: 0px 0px 1px #7f7f7f;
}
.warning_icon{
  background: url(../img/icons/warning_icon.png) no-repeat;
  display: block;
  margin: 0px auto 22px;
  height: 30px;
  width: 35px;
}
.terms_And_Conditions h2,
.terms_And_Conditions label{
  font-size: 16px;
  text-align: center;
}
.terms_And_Conditions p{
  color: #292d33;
  font-family: 'dejavu-sans';
  font-size: 15px;
  line-height: 21px;
  padding: 25px 0px;
  max-width: 752px;
  margin: auto;
}
.terms_And_Conditions fieldset{
  text-align: center;
}



/*step_prog_bar_wrap*/
.step_prog_bar_wrap{
  width: 100%;
}
.progressBar{
  counter-reset: step;
}
.progressBar li{
  float: left;
  width: 73px;
  position: relative;
  text-align: center;
}

.progressBar li::before{
  color: #4a4f57;
  font-family: 'Panton-bold';
  font-size: 22px;
  content: counter(step);
  counter-increment: step;
  width: 53px;
  height: 53px;
  line-height: 53px;
  border:1px solid #ddd;
  padding: 2px;
  display: block;
  text-align: center;
  border-radius:50%;
  background-color: #fff;
  margin: 0px auto 10px auto; 
 /* margin-left: 22px;*/
}

.progressBar li::after{
  content: "";
  position: absolute;
  left: -50%;
  top:26.5px;
  height: 3px;
  background-color: #ddd;
  width: 100%;
  z-index: -1;
}
.progressBar li:first-child::after{
  content: none;
}
.progressBar li.active{
  color:green;
}
.progressBar li.active::before{
  color: #fff;
  background-color: #3373B4;  
  border-color: #7f7f7f;
}
.progressBar li.active + li::after{
  background-color: #3373B4;
}


.step_prog_bar_wrap .Choose_package{
  float: right;
  width: 172px;
  padding: 18px 25px 18px 25px;
  margin: 0px;
  color: #fff;
  font-family: 'Panton-bold';
  font-size: 16px;
}
.step_prog_bar_wrap .Choose_package:last-child{
  background-color: #bababa;
}
.step_prog_bar_wrap .Choose_package:last-child span{
  margin: 0px;
  float: left;
  -webkit-transform: translate(-12px, 3px) rotate(90deg);
    -moz-transform: translate(-12px, 3px) rotate(90deg);
      -ms-transform: translate(-12px, 3px) rotate(90deg);
        -o-transform: translate(-12px, 3px) rotate(90deg);
           transform: translate(-12px, 3px) rotate(90deg);
}
.step_prog_bar_wrap .Choose_package:nth-child(2){
  margin-left: 22px; 
}
.step_prog_bar_wrap .Choose_package:nth-child(2) span{
  margin: 0px;
  float: right;
  -webkit-transform: translate(12px, 3px) rotate(-90deg);
    -moz-transform: translate(12px, 3px) rotate(-90deg);
      -ms-transform: translate(12px, 3px) rotate(-90deg);
        -o-transform: translate(12px, 3px) rotate(-90deg);
           transform: translate(12px, 3px) rotate(-90deg);
}

/*login.html*/
/*.s_login*/
.s_login{
  padding: 85px 0px 476px 0px;
}
.login_wrap{
  max-width:395px;
  margin: auto;
  font-family: 'dejavu-sans';
  font-size: 16px;
}
.login {
  border: 1px solid #7f7f7f;
  max-width:395px;
  margin:auto;
  padding: 40px 35px;
}
.login label,
.login_wrap p{
  color: #4a4f57;
}
.login_wrap p{
  margin: 48px 0px 18px;
}
.login_wrap input[type=email], 
.login_wrap input[type=password] {
  background-color: #eee;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  margin:10px 0px 33px;
}

.login_enter {
  background-color: #3a3d43;
  color: #fff;
  font-family: 'Panton-bold';
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.login_enter.two{
  background-color: #3373b4;
  width: 82%;
  margin: 0px 9%;
  display: inline-block;
  text-align: center;
}
.login_enter:hover,
.login_enter.two:hover{
  text-decoration: none;
  color:black;
}
span.psw {
  color: #3373b4;
  font-size: 12px;
  float: right;
}

/* news.html */
/*section - .news.marg */
.news.marg{
  margin-top: 15px;
}
.news.marg .pagin_wrap{
  margin: 50px 0px  46px 0px;
}

/* news_inner.html */
.gallery.news_in{
  padding-bottom: 70px;
}
.gallery.news_in .proj_bl_In h1{
  color: #292d33;
  font-family: 'Panton-Regular';
  font-size: 18px;
  padding: 0px;
}
.gallery.news_in .proj_bl{
  margin-bottom: 20px;
}
.gallery.news_in .newsDate{
  margin-top:18px;
  float: none;
}
.gallery.news_in .newsDate li:first-child {
  /*margin:18px 10px 13px 0px; */
}
.gallery.news_in p.par{
  color: #292d33;
  font-family: 'dejavu-sans';
  font-size: 14px;
  line-height: 15px;
}
.gallery.news_in  .social_net  a {
  background: #9c9ea1;
  color:#fff;
}
.gallery.news_in  .social_net{
  margin: 30px 0px;
}
.gallery.news_in .social_net  a:hover {
  color: #333;
}
.hr.news_in{
  width: 100%;
  margin: 0px;
}
.news.news_in{
  padding: 45px 0px 128px;
}
.news.news_in h1{
  color: #3a3d43;
  font-family: 'Panton-bold';
  font-size: 25.05px;
  margin: 0px;
}


.personal_info select{
    padding: 6px 18px;
    font-size: 16px;
   /* border: 0;*/
    height: 50px;
    background: url(../img/icons/select_arrow.png) no-repeat right #eee;
    -webkit-appearance: none;
    background-position-x: 95%;
    -webkit-appearance:none; 
      -moz-appearance:none; 
        -ms-appearance:none;
          -o-appearance:none;
             appearance:none;
}

#myForm fieldset{
  height: 100px;
}
/*shshm.html*/
.search_wrap.mr{
  margin-right: 45px;
  right: 11px;
}
.glasses_icon{
    background-image: url(../img/icons/glasses_icon.png);
    background-repeat: no-repeat;
    display: block;
    height: 23px;
    width: 29px;
    cursor: pointer;
    float: right;
    margin-top: 12px;
}
.over_header{
  background-color: #f4f4f4;
  font-family: 'dejavu-sans';
  min-height: 66px;
  -webkit- box-shadow: #b9b9b9 0px 1px 1px;
    -moz- box-shadow: #b9b9b9 0px 1px 1px;
      -ms- box-shadow: #b9b9b9 0px 1px 1px;
        -o- box-shadow: #b9b9b9 0px 1px 1px;
          box-shadow: #b9b9b9 0px 1px 1px;
          display: none;
          position: relative;
}

.over_head_trinagle{
    position: absolute;
    width: 0;
    height: 0;
    bottom: 46px;
    right: 7px;
    box-sizing: border-box;    
    border: 12px solid #b9b9b9;
    border-color: transparent transparent #f4f4f4 #f4f4f4;    
    transform-origin: 0 0;
    transform: rotate(-45deg);    
    box-shadow: -1px 1px 1px #b9b9b9;
    display: none;
}
.over_header .over_head_bl{
  line-height: 65px;
}

.over_header h1{
  color: #1e2227;
  font-size: 16px;
  display: inline-block;
  margin-right: 22px;
}
.over_head_nav.one {
  color: #fff
}
.over_head_nav.one li {
  color: #fff;
  margin:0px 2px;
}
.over_head_nav.one li.zoom_min{
  background-color: #9c9fa3;
}
.over_head_nav.one li.zoom_plus{
  background-color: #454b53;
}
.over_head_nav.one li:nth-child(2){
  font-size: 18px;
  color: #1e2227;
}
.over_head_nav{
  display: inline-block;
}
.over_head_nav li{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  cursor: pointer;
}
.over_head_nav.one li:nth-child(2){
  cursor: default;
}
.over_head_nav.two li + li{
  margin-left: 5px;
}
.over_head_nav.two li:nth-child(1){
  background-color: #fff;
  border:1px solid #454b53;
  color: #454b53;
}
.over_head_nav.two li:nth-child(2){
  background-color: #454b53;
  border:1px solid #454b53;
  color: #fff;
}
.over_head_nav.two li:nth-child(3){
  background-color: #454b53;
  border:1px solid #454b53;
  color: #ceb62c;
}
.over_head_nav.two li:nth-child(4){
  background-color: #ffde10;
  border:1px solid #ffde10;
  color: #454b53;
}
.over_head_nav.two li:nth-child(5){
  background-color: #0072bc;
  border:1px solid #0072bc;
  color: #fff;
}
.over_head_nav_three li{
    display: inline-block;
    padding: 0px 5px 0px;
    cursor: pointer;
}

.nav_refresh{
  background: url('../img/icons/refresh_icon.png') no-repeat;
  width: 15px;
  height: 19px; 
  margin-right:27px;
  margin-bottom: -4px;
}
.nav_close{
  background: url('../img/icons/close_icon.png') no-repeat;
  width: 15px;
  height: 15px; 
  display: inline-block;
  margin-top: 22px;
  margin-bottom: -2px;
}
.s_contacts{
  padding:58px 0px 248px;
}
#letter{
   height: 120px;
}
.form_bottom_bl  p{
  color: #4a4f57;
  font-family: 'dejavu-sans';
  font-size: 16px;
  margin: 25px 0px 25px;
}
.form_bottom_bl  p > span{
  color: #ea586a;
}
.personal_info.cont{
  border: 1px solid #b9b9b9;
  box-shadow: none;
  padding:55px 45px 70px; 
}
.form_bottom_bl .btn_send{
  border: none;
  margin:9px 0px 0px;
  float: right;
  width: 224px;
}
.contacts{
  max-width: 360px;
  min-height: 346px;
  border: 1px solid #b9b9b9;
  padding: 35px 25px;
}
.contacts address h1{
  color: #4a4f57;
  font-family: 'DejaVu_Sans_Bold';
  font-size: 16px;
  margin: 14px 0px 5px;
  line-height: 22px;
}
.contacts address h1:first-child{
  margin-top: 0px;
}
.contacts address p{
  color: #4a4f57;
  font-family: 'dejavu-sans';
  font-size: 16px;
  line-height: 19px;
}
#cont_form input.error, 
#cont_form select.error{
  border: 1px dotted red;
  box-shadow: 0 0 3px red;
}
#cont_form label.error{
  display: block;
  font-size: 12px;
  color: red;
}
.btn_map{
  background-color: #3a3d43;
  border: none;
  color: #fff;
  font-size: 22px;
  margin-top: 40px;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 48px;
  text-decoration: none !important;
}
.btn_map span{
  font-family: 'Panton-bold';
  font-size: 16px;
  margin-left: 20px;
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out; 
  -moz-transition: all 0.5s ease-out; 
  transition: all 0.5s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out; 
  -moz-transition: all 0.5s ease-out; 
  transition: all 0.5s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

li.big_nav_li.first{
    display: inline-block;
}
li.big_nav_li.second{
    display: inline-block;
    padding-left: 14%;
}li.big_nav_li.third{

  width: 248px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: left;
}

.big_nav_li_wrap{
    margin-right: 26%;
    float: right;
    width: 690px;
}

/*sevices.html*/
.news_block.sr{
  max-width: 100%;
  height: auto;
  margin: 25px auto 0px auto;
  padding: 20px 25px;
}

/* filse.html */
.gallery.fl .gallery_block {
    margin: auto;
    min-height: 380px;
    padding: 0px 0px 20px;
}

/* password_reset.html */
.s_password_reset{
  padding: 85px 0px 192px;
}
.s_password_reset .col-md-12:first-child .login_wrap{
  margin-bottom: 100px;
}
.s_password_reset .login{
  padding: 42px 40px;
  height: auto;
}
.s_password_reset .log_lab{
  line-height: 20px;
  padding-bottom: 22px;
  text-align: center;
}
.s_password_reset .login label span{
  font-family: 'DejaVu_Sans_Bold';
}

/* register_confirm.html */
.s_register_confirm{
  padding: 126px 0px 220px;
}
.s_register_confirm .terms_And_Conditions{
  padding:54px 30px 122px;
  margin: 0px;
}
.success_icon {
  background: url(../img/icons/success_icon.png) no-repeat;
  display: block;
  margin: 0px auto 45px;
  height: 36px;
  width: 36px;
}
.btn_success {
  background-color: #3373b4;
  color: #FFFFFF;
  font: 16px 'Panton-bold', serif;
  padding: 15.5px 0px;
  bottom: 68px;
  margin: 38px auto 0px;
  display: block;
  text-align: center;
  width: 258px;
}
/* user_profile.html */
.s_user_profile{
  padding: 78px 0px 223px;
}
.danger_bl{
  max-width: 100%;
  min-height: 216px;
  border:1px solid #f74d58;
  padding:0px 20px 18px;
}
.danger_bl ul{
  margin: 20px auto 30px;
}
.danger_bl ul li{
  color: #f7424e;
  font-family: 'DejaVu_Sans_Bold';
  font-size: 16px;
  display: inline-block;
  margin-bottom: -4px;
}
.micro_warning_icon{
  background: url(../img/icons/micro_warning_icon.png) no-repeat;
  display: block;
  margin: 0px 10px 0px 0px;
  height: 19px;
  width: 23px;
}
.danger_bl p.par{
  color: #292d33;
  font-size: 15px;
  font-family: 'dejavu-sans';
  line-height: 18px !important;
}
.danger_bl .login_enter{
  margin: 25px auto 0px;
  display: block;
  width: auto;
} 
.s_user_profile .personal_info{
  padding: 56px 11% 80px;
  margin: 0px;
}
.s_user_profile .nav_repeat{
  margin-bottom: 20px;
}
.s_user_profile .nav_repeat li.active a,
.s_user_profile .nav_repeat li a:hover{
  background-color: #3373b4;
}

.s_projects{
  padding-bottom: 110px;
}
.s_projects ul{
  padding: 66px 0px 75px;
}
.s_projects ul li{
  color: #292d33;
  cursor: pointer;
  display: inline-block;
  font-family: 'Panton-bold';
  font-size: 18px;
}
.s_projects ul li:hover,
.s_projects ul li.active{
  color: #3373b4;
}
.s_projects ul li+li{
  margin-left: 24px;
}
.club_proj_wrap{
  padding: 75px 0px;
}
.club_proj_desc{
  padding: 60px 0px;
}
.numb_in_sircle{
  color: #fff;
  font-family: 'Panton-bold';
  font-size: 24px;
  float: left;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #3373b4;
  text-align: center;
  padding: 9px 0px;
  display:none;
}
.club_proj_desc h3{
  color: #4a4f57;
  font-family: 'Panton-bold';
  font-size: 18px;
}
.club_proj_desc h4,
.club_proj_desc p.par{
  font-family: 'dejavu-sans';
  font-size: 14px;
}
.club_proj_desc h4{
  color:#9c9d9f; 
  padding: 5px 0px 15px;
}
.club_proj_desc p.par{
  color: #393939;
  line-height: 20px;
}
.s_projects .club_project_block{
  margin-bottom: 30px;
}

/* club_projects_inner.html */
.s_club_proj_in{
  position: relative;
  padding: 50px 0px 135px; 
}
.s_club_proj_in .pag_left_arrow{
  position: absolute;
  left: 16px;
  top: 0px;
}
.top_left_back {
  margin-bottom: 35px;
  width: 100%;
  display: block;
}
.top_left_back ul li{
  display: inline-block; 
}
.top_left_back ul li+li{
  margin-left: 17px;
  margin-top: -20px;
}
.top_left_back ul li+li>a{
  color: #4a4f57;
  font: 18px 'Panton-bold', serif;
}
.s_club_proj_in .club_project_block{
  max-height: 460px;
  max-width: 460px;
}
.s_club_proj_in .club_project_block .round_img{
  background-position: inherit;
}
.club_project_block .full_screen_icon{
  left: 44%;
  bottom: 20px;
}
.s_club_proj_in .numb_in_sircle{
  display: block;
}
.financing{
  position: relative;
  float: left;
}
.financing .sircleIn{
  position: relative;
  display: inline-block;
}
.financing .prog-circle{
  font-size: 44px;
  margin: 0px !important;
}
.financing .prog-circle .slice{
  width: 44px;
  height: 44px;
}
.financing .prog-circle .fill, 
.financing .prog-circle .bar{
  width: 44px !important;
  height: 44px !important;
  border: 5px solid #3373b4;
}
.financing .prog-circle .percenttext {
  color: #4a4f57;
  font: 30px 'Panton-bold', serif;
  margin-left: 60px;
}
.financing .circleVote{
  left: 66px;
  top: 125px;
}
.financing nav{
  display: inline-block;
  margin-left: 84px;
}
.financing ul{
  display: inline-block;
  margin-left: 8px;
}
.span_divider{
  width: 44px;
  height: 1px;
  background-color: #979a9f;
  display: inline-block;
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: 18px;
}
.finance_ul li:nth-child(1){
  color: #52555a;
  font: 14px 'DejaVu_Sans_Bold', serif;
}
.finance_ul li:nth-child(2){
  color: #3373b4;
  font: 24px 'Panton-bold', serif;
}