@media screen and (max-width: 1600px) {
/*	.red_block .btn:last-child{
		width: auto !important;
	}*/
}
@media screen and (max-width: 1472px) {
	.row .float_right{
	  width: 73%;
	}
/*	.red_block .btn:last-child{
		width: auto !important;
	}*/
	.form_block .navbar-nav>li>a,
	.navigacia .secind_menu li a{
    	font-size:15px;
	}
	.navbar-header .logo a:last-child {
	    padding: 9px 0px 0px 12px;
	    font-size: 14px !important;
	    line-height: 20px;
	    width: 235px;
	}
}
@media screen and (max-width: 1380px) {
	.navbar-header .logo a:last-child {
	    font-size: 13px !important;
    	width: 215px;
    	padding: 10px 0px 0px 7px;
	}
	.form_block .navbar-nav>li>a,
	.navigacia .secind_menu li a{
    	font-size:13px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	.navbar-header .logo a{
		font-size:14px;
		line-height: 21px;
	}
	.row .float_right{
	  	width: 71%;
	}
	.float_right .form_block{
	  	width: 85%;
	}
	.float_right .red_block {
	    padding: 0px 10px;
	    width: 15%;
	}
	.form_block .nav>li>a,
	.navigacia .secind_menu li a{
		padding-left:8px;
		padding-right: 8px;
	}
	.float_right .red_block a {
	    float: none;
	    margin: auto;
	    display: table;
	}
	.float_right .red_block a:last-child {
	    display: none;
	}
}
@media screen and (max-width: 1175px) {
	.navbar-header .logo {
	    padding: 30px 0px 30px 30px;
	}
}
@media screen and (max-width: 1115px) {
	.row .float_right {
		width: 87%;
	}
	.logo a:last-child{
		display: none;
	}

	/* start --- club.html | კლუბი */
	/* club_nav */
	.club_nav .float_right.colap{
	  width: 71% !important;
	}
	.club_header .navbar-header{
	  width: 29% !important;
	}
	.ordering .club_menu li a{
		font-size: 14px;
	}
	.club_menu.pull-left{
		margin-right: -12px;
	}
	.cab_button span:last-child{
		display: none;
	}
	.cab_button .club_user_icon{
		margin: 0px;
	}
	.ordering .cab_button{
		padding: 15px;
	}

	/* section - club_big_img_sec */
	.club_big_img_sec .text .text_vertical h1 {
    	font-size: 27px;
	}
	.club_big_img_sec .text .text_vertical h2 {
	    font-size: 18px;
	}
	.text_vertical .Choose_package {
	    font-size: 14px;
	    padding: 10px 7px;
	    margin: 14px 0px 0px;
	}
}
@media screen and (max-width: 908px){
	li.drop_down .secind_menu{
		position: relative;
		width: 100%;
	}
	li.drop_down .secind_menu li a{
		font-size:13px;
    	line-height: 49px;
	}
	.logo a:last-child {
    	display: block;
	}
	.row .float_right{
		float: none;
		width: 100%;
		background-color: #fff; 
	}
	.text .text_vertical > h1{
	  	font-size:33px;
	}
	.text .text_vertical > h1 > span{
	  	font-size:45.5px;
	}
	.text .text_vertical > .decor_sircle{
	  	margin:20px 0px;
	}
	.nav.navbar-nav {
	    margin-top: 0px;
	}
	.nav.navbar-nav li a{
		text-align: center;
	}
	.form_block .nav>li>a, 
	.navigacia .secind_menu li a {
	    padding-right: 8px !important;
	}
	.nav.navbar-nav.navbar-right{
		width: 100%;
	}
	.colap::before{
		display: none;
	}
	.float_right .form_block{
		width: 100%;
		float:none;
		margin:auto;
		padding: 0px;
		overflow: hidden;
	}
	.float_right .red_block{
    	height: 77px;
    	width: 100%;
		line-height: 77px;
		float: none;
		margin:auto;
		text-align: center;
	}
/*	.float_right .red_block .btn{
		height: 50px;
		width: 50px !important;
		border:2px solid #fff;
		display: inline-block;
		margin:0px;
	}
	.float_right .red_block .btn:last-child{
		height: 48px;
		width: 160px !important;
		background-color: transparent;
		margin-left: 18px;
	}*/
	.form_block .lang{
		float:none;
		padding-left: 1%;
		width: 6%;
	}
	.form_block .form-group.pull-right{
		padding-right: 1%;
		width: 92%
	}
	.nav_button{
		display: block !important;
	    position: absolute;
	    top: 48px;
	    right: 20px;
	    height: 50px;
	    width: 50px;
	    font-size: 33px;
	    border: navajowhite;
	    color: #fff;
	    background: rebeccapurple;
	}
	.row .colap{
		display: none;
		position: absolute;
		z-index: 999;
	}
	.right_bg{
		display: none;
	}
	.row .navbar-header {
	    float: none;
	}
	.float_right .navbar-nav>li {
	    float: none;
	    margin: auto;
	}

	/*club.html*/
	.club_header .navbar-header{
		width: 100% !important;
	}

	/*shshm.html*/
	.over_header,
	.over_head_trinagle,
	.glasses_icon{
		display: none !important;
	}
	.form-group .search_wrap{
		margin: 0;
	}
	.big_nav .big_nav_li_wrap{
		margin-left: 30px;
	}
	.slider_wrapper{
		width: 100% !important;
	}

}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.slider_wrapper2 > .sl_arrow_down{
		display: none;
	}
}
@media screen and (max-width: 1199px) {
	/*club.html*/
	.container {
	    width: 100% !important;
	}
	/* section - club_project */
	.club_project_block .my_container{
		top: 16%;
	}
	.club_project .club_project_block .sircleIn {
	    position: absolute;
	    top: 17%;
	    left: 15%;
	}
	/* user_profile.html */
	.s_projects .club_project_block .sircleIn {
	    position: absolute;
	    top: 17%;
	    left: 17%;
	}
	/* userProfileGifts.html */
	.s_gifts .pagin_wrap {
	    margin-top: 0px !important;
	}
}


@media screen and (max-width: 991px) {
	.club_news .mySlider3 .slick-dots {
	    bottom: -10px;
	    left: 47px;
	}

	/*projects.html > pagination*/
	.pagin_wrap.ml{
		margin-left: 42px;
	}

	/* projects_inner.html */
	.gallery .proj_bl_cost{
		max-width: 100%;
	}
	.gallery .gallery_img_bl {
	    max-height: 100%; 
	    max-width: 100%; 
	    margin: 0px 0px 30px 0px;	   
	    position: relative;
	}

	/*club.html*/
	/* section - club_project */
	.club_project_block .my_container{
		top: 6%;
	}
	.club_project .club_project_block .sircleIn {
	    position: absolute;
	    top: 4%;
	    left: 6%;
	}
	/* registr1step.html */
	.s_register .choose_proj_bl{
		padding: 15px 0px;
	}
	.choose_proj_bl .reg_proj_desc p.par{
		padding-top: 20px;
	}

	/*shshm.html*/
	.over_header{
		min-height: 130px !important;
	}
	.big_nav .big_nav_li_wrap{
	    float: left;
	    margin: 0;
	    width: auto;
	} 
	.big_nav_li_wrap li.big_nav_li.first {
	    display: block;
	}
	.big_nav li.big_nav_li.second {
	    padding-left: 0px;
	}
	.big_nav .big_nav_li_wrap{
		margin-left: 20px;
	}
	.big_nav li.big_nav_li.third{
		width: 234px
	}
	.s_contacts{
		padding: 58px 0px !important;
	}
	.s_contacts .contacts {
	    max-width: 100%;
	    text-align: center;
	}
	.s_contacts .btn_map{
		width: auto;
		padding: 0px 25px;
	}
	.s_contacts .form_bottom_bl .btn_send {
		float: none;
	    width: 224px;
	    margin: auto;
	    display: block;
	}

	/* password_reset.html */
	.s_password_reset .col-md-12:first-child .login_wrap {
    	margin-bottom: 50px !important;
	}
	
	.s_password_reset,
	.s_register_confirm,
	.s_user_profile {
	    padding: 85px 0px !important;
	}

	/* register_confirm.html */
	.s_register_confirm .terms_And_Conditions {
	    padding: 50px 30px !important;
	}

	/* user_profile.html */
	.s_projects .club_project_block .sircleIn {
	    position: absolute;
	    top: 23%;
	    left: 23%;
	}
	.s_projects .my_container{
		top: 27%;
	}
	.s_club_proj_in .club_proj_wrap {
	    padding: 36px 0px;
	}
	.personal_info{
		padding: 30px 10% !important;
	}
}
@media screen and (max-width: 767px) {
	.projects_block .nav_projects p{
		padding: 0px;
		font-size: 13px;
	}
	.footer .footer_bottom_bg{
		height: 100%;
	}
	.footer_soc .button-group{
		float: left !important;
	}
	.mews .row > h1{
		margin: 70px 0px 0px 0px;
	}
	.mews .news_block{
		max-width: 100%;
		text-align: center;
	}
	.mews .news_block .par{
		margin:auto;
	}
	.vote .container h1{
		margin: 45px 0px 0px 0px;
	}
	.vote .container form .btn-danger{
		margin: 40px 0px 45px 0px;
	}

	/* aboutUs.html ჩვენს შესახებ > სააგენტოს შესახებ */
	.sl_image{
		background-position: 0px 0px !important;
	}
	.nav_arr_right{
		margin: 0px !important
	}
	.gallery{
		padding:40px 0px !important;
	}

	/* gallery.html გალერეა > ფოტო გალერეა */
	.gallery .gallery_block{
		height: auto;
	}

	/*pagination*/
	.pagin_wrap{
		text-align: center;
	}
	.pagin_wrap .pagin{
		margin: 0px;
	}

	/*club.html > club_header*/
	.club_header .col-md-12{
	   padding: 0px;
	}
	.club_header .lang{
	   display: block;
	   float: none;
	   text-align: center;
	}
	.club_nav{
	   position: relative;
	}  	
	.club_menu{
	   width: 100%;
	}
	.club_menu li {
	   display: block !important;
	   text-align: center;
	   padding: 0px !important;
	}
	.ordering .club_menu li a{
	   line-height: 75px;
	}
	.ordering .cab_button{
	   margin: auto;
	   display: block;
	}
	.club_nav .float_right.colap{
	   width: 100% !important;
	}
	.club_header .navbar-header{
	   width: 100% !important;
	}
	.ordering{
	   float: none !important;
	}
	.club_menu .cabLi {
	  border-top: 1px solid #000;
	}
	.club_menu.pull-left{
	   margin-right: -12px;
	   border-bottom: 1px solid #333;
       border-top: 1px solid #333;
       margin: 15px 0px 0px;
	}
	.cab_button span:last-child {
       display: inline-block;
       padding-left: 10px;
	}
	.club_header .nav_button{
		top: 30%;
	}

	/*club_news*/
	.club_news{
		padding: 45px 0px 0px 0px !important;
	}
	.club_news .slider_wrapper2{
		max-height: 100%;
	}
	.club_news .slider_wrapper2 .slider_block2{
		max-height: 100%;
	}
	.club_news .news_block.cl {
	    max-width: 100%;
	    text-align: center;
	    background-color: transparent;
	}
	.club_news .news_block.cl a{
		float: none;
		display: block;
	}
	.club_news .slider_block2 img{
		float: none !important;
		width: 100% !important;
		max-width: 100% !important;
	}
	.club_news .mySlider3 .slick-dots {
	    bottom: -30px;
	    left: 50%;
	}
	.club_news .slider_wrapper2 .slider_block2{
		margin: 0px;
	}
	.club_news .col-md-12{
		padding: 0px;
	}
	.partners {
    	padding: 30px 0px !important;
	}
	.partners h1.club_h1{
		margin: 0px 0px 30px;
		font-size: 26px;
	}

	/* section - club_project */
	.club_project_block .my_container{
		top: 27%;
	}
	.club_project .club_project_block .sircleIn {
	    position: absolute;
	    top: 23%;
	    left: 23%;
	}
	.s_projects .club_project_block,
	.club_project_block{
		margin: 70px auto !important;
	}

	/* user_profile.html */
	.s_projects{
		padding-bottom: 0px !important;
	}
	.s_projects .club_proj_desc h3,
	.s_projects .club_proj_desc h4{
		text-align: center;
	}
	.s_projects .club_proj_desc{
		padding: 0px;
	}
	.s_user_profile .login_enter.three{
		float: none;
	    margin: 20px auto;
	    width: auto;
	    display: block;
	}

	/* register_confirm.html */
	.s_club_proj_in {
	    padding: 50px 0px 75px !important;
	}
	.s_club_proj_in .club_project_block{
		 margin: auto !important;
	}
	
	/* news_inner.html */
	.right_side {
	    padding: 0px 20px;
	}

	/* userProfileGifts.html */
	.s_gifts .col-md-5 {
	    padding: 0px;
	}
	.s_gifts .gifts_img_bl{
		margin:50px auto;
		max-width: 100%;
		max-height: 100%;
		display: table;
		width: 100%;
	}
	.gifts_img_bl img{
		width: 100%;
		height: auto;
	}
	.gift_desc {
	    text-align: center;
	}
}

/* registr1step.html */
@media screen and (max-width: 468px) {
	.choose_proj_bl .choose_proj_bl_cont{
		width: 100%;
	}
	.choose_proj_bl .reg_proj_head {
    	float: left;
	}
}

@media screen and (max-width: 415px) { 
	.form-group .search_wrap.mr{
		margin-right: 10px;
	}
	.logo a:last-child {
    	display: none;
	}
	.text .text_vertical > h1{
		font-size:20px;
	}
	.text .text_vertical > h1 > span{
		font-size:25.5px;
	}
	.text .text_vertical > .decor_sircle{
		margin:15px 0px;
	}
	.text .text_vertical h2, 
	.text .text_vertical h3 {
    	font-size:16px;
	}
	.text .text_vertical h3 {
		margin-top:7px;
	}
	.vote .col-xs-6{
		padding: 0px;
	}
	.footer_top_bg .footer_form h1 {
	    color: #FFFFFF;
	    font: 24px 'Panton-Regular';
	    padding-bottom: 10px;
	}
	.footer_bottom_bg .footer_soc .pull-right > nav > a{
		margin-left: 12px;
	}

	/* club.html */
	/* section - club_big_img_sec */
	.club_big_img_sec .text_vertical h1 {
    	display: none;
	}
	.club_big_img_sec .text_vertical h2 {
	    display: none;
	}
	.text_vertical .Choose_package {
	    font-size: 14px;
	    padding: 12px 7px;
	    margin: 15px 0px 0px 0px;
	}

	/*shshm.html*/
	.over_header{
		min-height: 200px !important;
	}
	.big_nav .big_nav_li_wrap{
	    margin-top: 70px;
	} 
	.over_head_nav_three{
		background: darkcyan;
	}
	
}﻿

