/*club.html*/
.slider_wrapper4.for_sl6 .slick-prev:before {
    content: "";
    background-image: url("../img/icons/keyboard-left-arrow-button.png");
    height: 32px;
    width: 20px;
    display: block;
}

.slider_wrapper4.for_sl6 .slick-next:before {
    content: "";
    background-image: url("../img/icons/keyboard-right-arrow-button.png");
    height: 32px;
    width: 20px;
    display: block;
}
.slider_wrapper4.for_sl6 .slick-prev:hover{
    content: "";
    background-image: url("../img/icons/keyboard-left-arrow-button-over.png");
    height: 32px;
    width: 20px;
    display: block;
}
.slider_wrapper4.for_sl6 .slick-next:hover{
    content: "";
    background-image: url("../img/icons/keyboard-right-arrow-button-over.png");
    height: 32px;
    width: 20px;
    display: block;
}
.slider_wrapper4.for_sl6 .slick-prev,
.slider_wrapper4.for_sl6 .slick-next {
    height: 32px;
    width: 20px;
}
.slider_wrapper4.for_sl6 .slick-prev {
    left: -25px;
}
.slider_wrapper4.for_sl6 .slick-next{
    right: -25px;
}

.club_project_wrap{
    min-height: 290px;
    height: 100%;
    margin: 0 15px 50px;
}
.club_project_vote{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 23px;
}

.col-sm-pull-9 .club_project_vote {
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

.club_project_descr{
    max-width: 400px;
    margin: auto;
}
.club_project_descr .percent{
    width: 83px;
    height: 47px;
    background-color: #3373b4;
    color: #fff;
    font-family: 'Panton-bold', sans-serif;
    font-size: 24px;
    padding: 15px 22px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.club_project_descr .percent:after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #3373b4;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right:-3px;
    top: 50%;
    margin-top: -2.5px;
}
.club_project_descr .vote{
    font-size: 10.41px;
    font-family: 'dejavu-sans', sans-serif;
    color: #4a4f57;
    margin-right: 23px;
}
.club_project_descr h3{
    font-family: 'Panton-bold', sans-serif;
    font-size: 18px;
    color: #4a4f57;
    padding-bottom: 10px;
}
.club_project_descr h4{
    font-family: 'dejavu-sans', sans-serif;
    font-size: 14px;
    color: #9c9d9f;
}
.eye-hide{
    background-image: url(../img/icons/authorization_icon.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 28px;
    display: block;
}
.club_project_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 400px;
    height: 290px;
    width: 100%;
    display: block;
    padding-top: 0;
    -webkit-background-size: cover;
    margin: 50px auto;
}
.club_project_img span{
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.3;
}
.img_wrap{
    height: 290px;
}
.img_wrap a{
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
}

.slider_wrapper4 .slick-dots li{
    height: 15px;
    width: 15px;
    margin-right: 15px;
    display: inline-block;
}
.slider_wrapper4 .slick-dots li button{
    height: 15px;
    width: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 4px;
    border:1px solid #a3a6a9;
}
.slider_wrapper4 .slick-dots li.slick-active button:before{
    opacity:1;
    background-color: #e4002b;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

}
.slider_wrapper4 .slick-dots li button:before{
    content:'';
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.slider_wrapper4 .slick-dots li.slick-active button:before{
    background-color: #3373b4;
}
/*.my-package*/
.my-package{
    width: 100%;
    height:166px;
    border: 1px solid #a5a5a5;
    font-family: 'dejavu-sans', sans-serif;
    padding: 20px 30px;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.my-package h2{
    font-family: 'Panton-Regular', sans-serif;
    font-size: 14px;
    color: #3373b4;
    margin-bottom: 18px;
}
.my-package p{
    color: #4a4f57;
    font-size: 14px;
    height: 42px;
    overflow: hidden;
}
.my-package h5{
    color: #535659;
    font-size: 12px;
    margin-bottom: 8px;
}
.my-package small{
    color: #3373b4;
    font-size: 12px;
}
.my-package-img{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.my-package-row-one{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.my-package-row-two{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*.donate-wrap*/
.donate-wrap{
    height: 62px;
    width: 356px;
    padding: 0 20px;
    background-color: #3373b4;
    position: fixed;
    right: -110px;
    top: 50%;
    margin-top: -31px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 10px 0 16px rgba(0, 0, 0, .19);
    box-shadow: 10px 0 16px rgba(0, 0, 0, .19);
}
.donate-wrap a{
    text-decoration: none;
}
.donate-wrap a img{
    margin-left: 10px;
}
.donate-wrap p{
    font-family: 'Panton-bold',sans-serif;
    font-size: 18px;
    color: #fff;
    max-height: 37px;
    overflow: hidden;
}

/*.club_play.html*/
.register_nav .nav_repeat{
    margin-bottom: 10px;
}
.s_register.two{
    padding: 70px 0 190px;
}
.s_register.two .form_reg_header{
    margin: 0 0 25px;
}
.s_register.two .form_reg_header h1{
    color: #4a4f57;
    font: 18px 'Panton-bold', serif;
    text-align: left;
}
.s_register.two .choose_package_bl{
    max-width: 100%;
    height: auto;
}
.s_register.two .choose_package_bl_top{
    margin-bottom: 30px;
}
.s_register.two .choose_package_bl_cont{
    height: 40px;
}
.s_register.two .choose_package_bl_cont2 {
    overflow: unset;
}
.s_register.two .choose_package_bl_cont2 p.par{
    max-width: 90%;
    height: auto;
    overflow: unset;
}
.s_register.two .ul-gift {
    margin-top: 7px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    width: 90%;
}
.s_register.two .choose_proj_bl{
    min-height: 210px;
    padding: 25px 0 4%;
}
.s_register.two .choose_proj_bl_cont{
    margin-top: 0;
    float: none;
    width: 100%;
    padding-left: 20px;
}
.s_register.two .reg_proj_head{
    margin-top: 0;
    padding: 0;
}
/*.pay-btn*/
.pay-btn{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.pay-btn .btn{
    background: #3373b4;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: 'Panton-bold',sans-serif;
    font-size: 16px;
    color: #fff;
    height: 52px;
    width: 145px;
}


@media screen and (max-width: 1600px) {
    .slider_wrapper4{
        max-width: 80%;
    }
    .img_wrap,
    .club_project_img{
        height: 260px;
    }

}
@media screen and (max-width: 1167px){
    .s_register.two .choose_package_bl{
        height:auto;
    }
    .s_register.two .ul-gift{
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .slider_wrapper4{
        max-width: 66%;
    }
    .img_wrap,
    .club_project_img{
        height: 190px;
    }
    .donate-wrap{
        height: 50px;
        width: 350px;
        overflow: hidden;
    }
    .donate-wrap p{
        font-size: 16px;
        max-height: 33px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .my-package{
        height: 236px;
    }
}
@media screen and (min-width: 768px) and (max-width:1366px) {
    .slider_wrapper4{
        max-width: 85%;
    }
    .img_wrap,
    .club_project_img{
        height: 240px;
    }
}

@media screen and (max-width: 480px){
    .club_project .slider_wrapper4{
        max-width: 100%;
    }
    .club_project_wrap{
        margin: 0 0 50px 0;
    }
    .img_wrap,
    .club_project_img{
        height: 254px;
        max-width: 100%;
    }
    .s_register.two .choose_package_bl_cont2 p.par{
        max-width: 100%;
    }
    .choose_package_bl_cont2 nav li{
        font-size: 14px;
        line-height: 38px;
    }
    .s_register .radio label{
        font-size: 20px;
        padding-left: 5px;
    }
    .choose_package_bl_cont p{
        font-size: 22px;
    }
    .choose_package_bl_cont p > span{
        font-size: 23px;
        padding-left: 2px;
    }
}

@media screen and (max-width: 645px){
    .s_register.two .choose_proj_bl .col-xs-5,
    .s_register.two .choose_proj_bl .col-xs-7{
        width:100%;
        max-width: 100%;
        float: none;
    }
    .s_register.two .reg_proj_head{
        margin-top: 20px;
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    .s_register.two .reg_proj_head h1,
    .s_register.two .reg_proj_head h2{
        max-width: 100%;
    }
    .s_register .choose_proj_bl_cont .radio label {
        margin-top: 70px;
    }
    .s_register.two .choose_proj_bl_cont {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
    }
    .s_register.two .choose_proj_bl_cont .radio{
        padding: 0;
        margin: 0;
    }
    .s_register.two .reg_proj_bl{
        height: 160px;
        width: 160px;
        margin: 0;
    }
    .s_register.two .pay-btn{
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}